{% extends 'base.html'  %}
{% load static  %}

{% block title %} Curso Conversacional  {% endblock  %}


{% block content  %}
<section id="courses">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                        <h2>Popular Courses <small>Upgrade your skills with newest courses</small></h2>
                    </div>

		</div>

	    </div>
        </div>
</section>

{% endblock  %}
