{% extends 'mini_base.html'  %}
{% load static  %}

{% block title %} Curso de Frances  {% endblock  %}

{% block meta_description  %} Curso Frances {% endblock  %}

{% block content  %}
<section id="courses-fr">
    <div class="container">
        <div class="row">
            
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Popular Courses <small>Upgrade your skills with newest courses</small></h2>
		   <h4> Idioma francés. Es una de las lenguas llamadas idiomas romances. Se habla como lengua materna en la mayoría de Francia, Mónaco y en determinadas zonas de Bélgica, Suiza, Luxemburgo y Andorra, se habla también en la zona fronteriza al norte de Italia (Val d'Aoste) y algunos sectores fronterizos, al norte de España (Cataluña, Aragón, Navarra y País Vasco).</h4><br>

		    En América es también el idioma oficial de Canadá (Quebec), Haití, Martinica, Guadalupe, Guayana Francesa, y algunas comunidades de la isla de Dominica, conocido como criollo francés, se habla también aunque minoritariamente, en la República Dominicana, debido a la inmigración de haitianos en busca de mejores oportunidades, y las ex-colonias de Francia y Bélgica en África como República Democrática del Congo, Congo-Brazzaville, Burkina Faso, Senegal, Guinea, Malí, Níger, Burundi, Ruanda, Togo, Benín, República Centroafricana, Gabón, Costa de Marfil, Madagascar, Yibuti, parte de Seychelles, Camerún, islas Comoras, Mayotte, Reunión, isla Mauricio etc. y algunos sectores de la Guinea Ecuatorial, Argelia, Chad, Marruecos, Mauritania, Túnez y Egipto.

		    Considerado también como otra lengua asociada y cooficial en esos países, en Asia en forma minoritaria en Camboya, Tailandia, Laos, Vietnam, India, Líbano y en Oceanía en la Polinesia Francesa, Nueva Caledonia y Vanuatu. En Estados Unidos, es idioma oficial (con el inglés) del estado de Luisiana. Hace unos años era el idioma diplomático por excelencia. 
                
	    </div>

	    </div>
        </div>
</section>

{% endblock  %}
